<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDuu_vMViUDb7N13XZdh3MAn2_0JqrrW_0</string>
	<key>GCM_SENDER_ID</key>
	<string>358701941979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kimyeomyeong.apptech</string>
	<key>PROJECT_ID</key>
	<string>apptech-9928c</string>
	<key>STORAGE_BUCKET</key>
	<string>apptech-9928c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358701941979:ios:bd2d6474733e79c16878fe</string>
</dict>
</plist>